<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="inicio :: head ">

<meta charset="UTF-8">
 
   

<title>Flores</title>

</head>

<body>
	<h1>Sucursales</h1>
	 <a th:href="@{/flor/add}">Añadir una nueva Flor</a>
	 <div th:if="${flores != null and !flores.empty}">
	<table border="1" class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Pais</th>
				<th>Tipo pais</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>	
		
		    
			 <tr th:each="flor: ${flores}">
				<td th:text="${flor.pk_florID}">
				<td th:text="${flor.nomFlor}">
				<td th:text="${flor.paisFlor}">
				<td th:text="${flor.tipusFlor}">
				<td><a th:href="@{/flor/update/} + ${flor.pk_florID}" th:text="update"></a></td>
				<td><a th:href="@{/flor/delete/}+ ${flor.pk_florID}" th:text="delete"></a></td>
				
		</tbody>
	</table>
	<a th:href="@{/}">Volver a la pagina de inicio</a>
</div>
 <div th:if="${flores == null  or flores.empty}">
 La lista de flores esta vacía
 </div>
</body>
</html>
